<p>Olá, {{ name }}, infelizemento um pedido foi cancelado.</p>
<p>{{ message }}</p>

<ul style="display: list-item;list-style: none;">
  <li><strong>Motivo: </strong>{{ problem }}</li>
    </ul>
  </li>

</ul>

<p>Qualquer dúvida, entre em contado conosco pelo número 69 98132-3030</p>

<p>Porto Velho, {{ date }}</p>

